* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tilt Neon", sans-serif;
  background-color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
}

h1 {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 30px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  /* min-width: 140px; */
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: auto;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

#overview {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

#overview p {
  margin-bottom: 20px;
  font-size: 20px;
}

#question {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 2px solid rgba(192, 74, 255, 0.807);
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: rgba(192, 74, 255, 0.807) 0 5px 20px -3px;
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(192, 74, 255, 0.807);
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
}

#options button {
  font-family: "Tilt Neon", sans-serif;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(192, 74, 255, 0.807) 0 5px 20px -3px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  transition: 0.5s ease;
  font-weight: 900;
  /* max-width: 100%; */
  margin-top: 20px;
  max-width: 500px;
  width: 350px;
  min-height: 50px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: wrap;
  cursor: pointer;
}

#options button:active,
#options button:hover {
  outline: 0;
  box-shadow: none;
  transition: 0.5s ease;
  color: rgb(0, 255, 238);
}

#options button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

#options button:hover span {
  background: none;
  transition: 0.5s ease;
}

/* #options button:hover {
  transition: 0.7s ease;
  box-shadow: none;
  cursor: pointer;
} */

@media (min-width: 1105px) {
  #options {
    position: absolute;
    right: 20%;
    top: 30%;
  }
  #options button {
    font-size: 20px;
    width: 400px;
    min-height: 70px;
  }
  #question {
    position: absolute;
    top: 45%;
    left: 20%;
    font-size: 27px;
  }
}
#finalScore {
  text-align: center;
}

#incorrectQuestions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  /* border: 2px solid red; */
  text-align: center;
}

#incorrect {
  margin-bottom: 10px;
}

#yourAnswer {
  background-color: rgb(255, 139, 139);
  width: 300px;
  min-height: 70px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin: auto;
  border: 3px solid #fff;
  margin-bottom: 7px;
  box-shadow: rgb(255, 139, 139) 0 4px 14px -3px;
  font-weight: 700;
}

p#yourAnswer {
  padding-top: 10px;
}

#correctAnswer {
  border-radius: 5px;
  width: 300px;
  min-height: 70px;
  background-color: rgb(77, 221, 77);
  margin: auto;
  border: 3px solid #fff;
  margin-bottom: 12px;
  box-shadow: rgb(77, 221, 77) 0 4px 14px -3px;
  font-weight: 700;
}

p#correctAnswer {
  padding-top: 10px;
}

#answer-p {
  color: rgb(255, 255, 255);
  width: 300px;
  margin: auto;
  margin-bottom: 12px;
  font-weight: 700;
}
